.spinner{
    width: 200px;
    height: 200px;
    border-top: 20px solid #1aff1a;
    border-right: 20px solid transparent;
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    justify-content: center;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: #1aff1a;
    border-radius: 50%;
    margin-left: 155px;
    margin-top: 8px;
}
@keyframes spinner{
    100%{
        transform: rotate(360deg);
    }
}