.fi60Menu{
    background-color: #fff;
    position: fixed;
    width: 230px;
}
.fi60MenuItem{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    
}

.fi60MenuItem:hover{
    background-color: #35BDD0;
}