.sb30Item{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
    padding: 10px;
}
.sb30Item:hover{
    background-color:#e7ecf0;
}

.sb30ItemIcon{
    width: 19px;
    margin-top: 3px;
}

.sb30ItemText{
    margin-left: 10px;
    color: #000;
    font-size: 14px;
}





