* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}




body {
  font-family: 'Mali', cursive;
  background-size: cover;
  background-position: center;
  background-color: rgba(235, 230, 230);
}